:80 {
    @app path /app /app/*
    reverse_proxy @app host.docker.internal:3001

    @admin path /admin /admin/*
    reverse_proxy @admin host.docker.internal:3002

    @api path /system* /friend* /ai*
    reverse_proxy @api host.docker.internal:19090

    reverse_proxy host.docker.internal:3003
}
